<h1> Recettes</h1>
<p><%= link_to "Creér une nouvelle recette", new_article_path %></p>

<table>
    <tr>
        <th>Titre</th>
        <th>Titre</th>
    </tr>
    
    <% @articles.each do |article| %>
    
        <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <td><%= link_to "Editer", edit_article_path(article) %></td>
            <td><%= link_to "Afficher", article_path(article) %></td>
            <td><%= link_to "Supprimer", article_path(article) %></td>
        </tr>
    <% end %>
    
</table>